<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/client.js') }}"></script>
    <title>Game Screen</title>
</head>
<body>
    <form method="POST">
        <label for="bid">Bid:</label>
        <input type="text" id="bid" name="bid">
        <input type="submit" name="bid-submit" value="Submit Bid">
    </form>
</body>
</html>