<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.esm.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/marketGame.js') }}"></script>  
    <title>Game Screen</title>
</head>
<body>
    <form method="POST" id="bid-form">
        <label for="bid">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <label for="bid">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <input type="submit" name="bid-submit" value="Submit Bid">
    </form>
    <ul id="player-list">
        {% for player in ctx.players %}
            <li>{{ player["username"] }}</li>
        {% else %}
            <li>No players in the room.</li>
        {% endfor %}
    </ul>
    <div style="width: 800px;">
        <canvas id="acquisitions"></canvas>
    </div>

    <button>Leave</button>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>