<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>  
    <title>Game Screen</title>
</head>
<body>
    <h1>Round <span id="round"></span></h1>
    <div id="assets-list"></div>

    <form method="POST" id="bid-form">
        <label for="bid">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <label for="bid">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <input type="submit" name="bid-submit" value="Submit Bid">
    </form>
    <div id="bidMsg">
    </div>
    <ul id="player-list">
        {% for player in ctx.players %}
            <li>{{ player["username"] }}</li>
        {% else %}
            <li>No players in the room.</li>
        {% endfor %}
    </ul>
    <ul id="playerProfits"></ul>
    <div class="bidGraph" style="width:1000px;height:600px;"></div>
    <button id="leave-btn">Leave</button>
</body>
</html>