<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/client.js') }}"></script>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby: {{ ctx.room }}</h1>
    <h2>Players: <span id="player-total">0</span></h2>
    <ul id="player-list"></ul>
    <button id="start" value="start">Start Game</button>
    <form method="POST">
        <button type="submit" id="leave" name="action" value="leave">Leave</button>
    </form>
</body>
</html>