<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/client.js') }}"></script>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby: {{ code }}</h1>
    <h2>Players: {{ players | length}}</h2>
    <ul>
        {% for player in players %}
            <li>{{player}}</li>
        {% endfor %}
    </ul>
    <button>Leave</button>
</body>
</html>